.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid white;
  margin: 1em 0; padding: 0; 
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 75vh;
  height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-panel {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.class-engraving-picker {
  min-width: 33%;
  width: 33%;
  border:#61dafb 1px solid;
}

.stat-input {
  width: 33%;
  border:#61dafb 1px solid;
}

.stat-calc {
  width: 34%;
  border:#61dafb 1px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
